/* src/components/MyCarousel.css */

.swiper-pagination {
  position: absolute;
  bottom: 0; /* justo debajo del swiper */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--color-theme-violet-text);
  opacity: 0.5;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-theme-violet-text);
  opacity: 1;
  transform: scale(1.2);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-theme-violet-text); /* o usa cualquier color personalizado, por ejemplo un Tailwind violeta */
}


/* Aplica estilo a la swiper-container */
.swiper-container {
  width: 100%;
  overflow: visible;  /* Asegúrate de que las diapositivas siguientes se muestren parcialmente */
}

