---
import CarrouselFamily from "./CarrouselFamily";


---

<section id="inicio" class="relative bg-theme-white flex flex-col justify-center gap-8 h-fit md:gap-8 pt-8 md:pt-0 pb-8 md:pb-12">

  <!-- SVG para móviles (onda más suave) -->
  <div class="absolute top-1 left-0 w-full overflow-hidden leading-[0] -translate-y-full block md:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 80" preserveAspectRatio="none" class="relative block w-full h-[80px]">
      <path fill="#F0F0F0" d="M0,20 C480,80 960,0 1440,40 L1440,80 L0,80 Z"></path>
    </svg>
  </div>

  <!-- SVG para pantallas medianas o mayores (onda normal) -->
  <div class="absolute top-1 left-0 w-full overflow-hidden leading-[0] -translate-y-full hidden md:block">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150" preserveAspectRatio="none" class="relative block w-full h-[150px]">
      <path fill="#F0F0F0" d="M0,50 C360,150 1080,0 1440,100 L1440,150 L0,150 Z"></path>
    </svg>
  </div>

  <div class="flex flex-row justify-center">
    <h2>
      <span class="text-theme-dark-gray">NUESTRA</span> 
      <span class="text-theme-violet-text">FAMILIA</span>
    </h2>
  </div>
  
  <div class="flex flex-col md:flex-row justify-center items-center gap-10 px-4 md:px-24 mt-8">
    <p class="w-full md:w-1/2 max-w-2xl text-left text-base sm:text-lg md:text-xl lg:text-2xl">
      En <span style="color: var(--color-primary-blue)">Vila-seca CrossFit</span> creemos que el <span style="color: var(--color-primary-blue)">CrossFit es para todos</span>. Adaptamos los entrenamientos a cada persona para que pueda superarse, sin importar su nivel.
      <br /><br />
      A lo largo del año celebramos <span style="color: var(--color-primary-blue)">competiciones internas</span> que nos retan y nos unen. Aquí no solo entrenamos: compartimos, crecemos y nos apoyamos como una familia.
    </p>
    
    <CarrouselFamily client:load />
  </div>
  
  <div class="absolute bottom-1 left-0 w-full overflow-hidden leading-[0] translate-y-full">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150" preserveAspectRatio="none" class="relative block w-full h-[100px] -scale-x-100">
      <path fill="#F0F0F0" d="M0,0 L0,30 L1440,100 L1440,0 L0,0 Z"></path>
    </svg>
  </div>
  
</section>


