---
import CarouselEquipo from "./Carousel/CarouselEquipo"
import EquipoCard from "./EquipoCard";

const equipo = [
    {
      nombre: 'Lu',
      descripcion: 'Coach de vida y experto en desarrollo personal.',
      rol: 'Head Coach & Co-Owner',
      imagen: '/lu.webp',
      especialidades: ['Crossfit L2', 'Halterofilia', 'Gymnastics'],
      imagenClasses: '',
    },
    {
      nombre: 'Sergi',
      descripcion: 'Coach de vida y experto en desarrollo personal.',
      rol: 'Co-Owner',
      imagen: '/sergi.webp',
      especialidades: ['Crossfit', 'Halterofilia', 'Gymnastics'],
      imagenClasses: '',
    },
    {
      nombre: 'Saray',
      descripcion: 'Coach de vida y experto en desarrollo personal.',
      rol: 'Coach',
      imagen: '/saray.webp',
      especialidades: ['Crossfit', 'Halterofilia', 'Gymnastics'],
      imagenClasses: '',
    },
    {
      nombre: 'Borja',
      descripcion: 'Coach de vida y experto en desarrollo personal.',
      rol: 'Coach',
      imagen: '/borja.webp',
      especialidades: ['Crossfit', 'Halterofilia', 'Gymnastics'],
      imagenClasses: 'top-50',
    },
  ];
---

<section id="clases" class="relative h-fit w-full flex flex-col py-12 md:py-16 md:px-12 lg:px-8 bg-theme-white justify-center items-center">
    <div class="flex justify-center items-center gap-4 py-12">
      <h2 class="flex-wrap text-theme-dark-gray">
        <span class="text-theme-dark">NUESTRO</span>
        <span class="text-theme-violet-text">EQUIPO</span>
      </h2>
    </div>
  
    <!-- Carrusel SOLO en móvil -->
    <div class="block md:hidden w-full items-center justify-center">
      <CarouselEquipo client:load />
    </div>
  
    <!-- Cards SOLO en escritorio -->
    <div class="hidden 2xl:flex 2xl:flex-wrap justify-center md:grid md:grid-cols-2 md:justify-items-center xl:w-full xl:grid-cols-4">
      {equipo.map((miembro) => (
        <EquipoCard {...miembro} />
      ))}
    </div>
  </section>
  