---
import Layout from '@layouts/Layout.astro';
import Familia from '@components/familia/familia.astro';
import Inicio from '@components/inicio/Inicio.astro';
import Clases from '@components/clases/clases.jsx';
import Equipo from '@components/equipo/equipo.jsx';
import Tarifas from '@components/tarifas/tarifas.jsx';  
import Footer from '@components/footer/footer.astro';
import Horario from '@components/horario/horario.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Inicio/>
  <Familia/>
  <Clases client:load/>
  <Equipo client:load/>
  <Tarifas client:load/>
  <Horario/>
  <Footer/>

   <!-- Botón "Volver arriba" redondo -->
   <!-- Botón "Volver arriba" solo con imagen (con flecha incluida en la imagen) -->
  <button
    id="scrollToTopBtn"
    class="fixed bottom-4 right-4 w-14 h-14 rounded-full shadow-lg transition z-50 p-0 border-none bg-transparent"
    onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    aria-label="Volver arriba"
    >
    <img src="buttonkettelbell.png" alt="Volver arriba" class="w-full h-full object-contain" />
  </button>


  <!-- Script para mostrar/ocultar el botón al hacer scroll -->
  <script is:inline>
    const scrollBtn = document.getElementById("scrollToTopBtn");

    window.addEventListener("scroll", () => {
      if (window.scrollY > 300) {
        scrollBtn.style.display = "flex";
      } else {
        scrollBtn.style.display = "none";
      }
    });

    // Inicialmente oculto
    scrollBtn.style.display = "none";
  </script>
</Layout>
