---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/icono.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<script src="https://unpkg.com/flowbite@latest/dist/flowbite.min.js" defer></script>
		<meta name="description" content="Únete a Vila Seca CrossFit y transforma tu vida con entrenamientos adaptados a todos los niveles" />
		<title>{"Vila Seca CrossFit"}</title>
	</head>
	<body>
		<slot />
	</body>
</html>