---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Vila-seca CrossFit | Tu box de confianza</title>
		<meta name="description" content="Entrena CrossFit en Vila-seca con profesionales. Halterofilia, movilidad, y comunidad desde 2022, adaptados a todos los niveles">
		<meta property="og:title" content="Vila-seca CrossFit">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.vilasecacrossfit.com/">
		<meta property="og:description" content="Entrena CrossFit en Vila-seca con profesionales.">
		<link rel="shortcut icon" type="image/x-icon" href="/icono.ico" />
		<script type="application/ld+json">
			{
				"@context": "https://schema.org/",
				"@type": "LocalBusiness",
				"name": "BOX VILA-SECA S.L",
				"image": "https://www.vilasecacrossfit.com/smarty/customWireframe/media/images/photo-microdata.jpg",
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "Av. de la Generalitat, 88",
					"postalCode": "43480",
					"addressLocality": "Vila-seca",
					"addressCountry": "ES"
				},
				"telephone": "618434374",
				"email": "vilasecacrossfit@gmail.com",
				"vatID": "B67690602"
			}
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>