---
const { titulo, descripcion, imagen } = Astro.props;
---

<div class="w-[70vw] h-[360px] sm:w-[400px] sm:h-[300px] xl:w-[380px] xl:h-[320px] 2xl:w-[440px] 2xl:h-[320px] flex flex-col items-center bg-gradient-to-b from-primary-blue to-primary-violet p-1 shadow-lg rounded-2xl overflow-hidden">
    <div class="bg-theme-dark-gray w-full h-full rounded-2xl">
      <!-- Imagen del coach -->
      <img src={imagen} alt="" class="w-full h-[55%] object-cover rounded-t-2xl"/>
      
      <!-- Contenido -->
      <div class="flex flex-col w-full py-2 px-6 gap-4">
        <!-- Nombre, rol y descripción -->
        <div class="flex flex-col gap-2 h-fit ">
          <h3 class="text-2xl sm:text-3xl font-bold text-primary text-primary-blue text-left">{titulo}</h3>
          <div class="text-sm text-theme-white font-sans ">{descripcion}</div>
        </div>
  
      </div>
    </div>
  </div>