---
// HeaderDesktop.astro
---

<header class="relative z-10 w-full mt-4 h-[10vh]">
  <nav class="bg-gray h-24 flex flex-row w-full justify-center items-center gap-16">
    <a href="" class="flex items-center justify-center h-full text-theme-white">INICIO</a>
    <a href="" class="flex items-center justify-center h-full text-theme-white">HORARIOS</a>
    <a href="" class="flex items-center justify-center h-full text-theme-white">TARIFAS</a>
    <img src="./icono.ico" alt="vsc rounded logo" class="h-24" />
    <a href="" class="flex items-center justify-center h-full text-theme-white">CLASES</a>
    <a href="" class="flex items-center justify-center h-full text-theme-white">NOSOTROS</a>
    <a href="" class="flex items-center justify-center h-full text-theme-white">CONTACTO</a>
  </nav>
</header>
