---
---

<header class="relative z-10 w-full mt-4 h-[10vh]">
  <nav class="bg-gray h-24 flex flex-row w-full items-center">
    <div class="flex flex-1 justify-end gap-16 mr-16">
      <a href="" class="flex items-center justify-center h-full text-theme-white hover:text-primary-violet hover:underline underline-offset-4 hover:scale-105">INICIO</a>
      <a href="" class="flex items-center justify-center h-full text-theme-white hover:text-primary-violet hover:underline underline-offset-4 hover:scale-105">HORARIOS</a>
      <a href="" class="flex items-center justify-center h-full text-theme-white hover:text-primary-violet hover:underline underline-offset-4 hover:scale-105">TARIFAS</a>
    </div>
    <img src="./icono.ico" alt="vsc rounded logo" class="h-24" />
    <div class="flex flex-1 justify-start gap-16 ml-16">
      <a href="#clases" class="flex items-center justify-center h-full text-theme-white hover:text-primary-violet hover:underline underline-offset-4 hover:scale-105">CLASES</a>
      <a href="" class="flex items-center justify-center h-full text-theme-white hover:text-primary-violet hover:underline underline-offset-4 hover:scale-105">NOSOTROS</a>
      <a href="" class="flex items-center justify-center h-full text-theme-white hover:text-primary-violet hover:underline underline-offset-4 hover:scale-105">CONTACTO</a>
    </div>
  </nav>
</header>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>